
/********************************************************
  Button styling
********************************************************/

/**** Base styling *****/
.toggle-button {
	appearance: none;
	padding: 0.75rem;

	background-color: #f8f8f8;
	border: solid 1px #cacaca;
	border-right-width: 0px;

	cursor: pointer;
	transition: background-color 0.2s;
}

/**** Hover state *****/
.toggle-button:hover, 
.toggle-button[aria-pressed="true"]:hover {
	background-color: #ffffff;
}

/**** Round corners of first button *****/
.toggle-button:first-of-type {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

/**** Round corners of last button *****/
.toggle-button:last-of-type {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-right-width: 1px;
}

/**** Set toggled state *****/
.toggle-button[aria-pressed="true"] {
	box-shadow: 0px 0px 0.75rem #cacaca inset;
	background-color: #ececec;
}

/**** Set button style based on value *****/
.toggle-button[value="bold"] {
	font-weight: bold;
}

.toggle-button[value="italic"] {
	font-style: italic;
}

.toggle-button[value="underlined"] {
	text-decoration: underline;
}