
/********************************************************
  Basic page set up
********************************************************/
.App {
  text-align: center;
}

/********************************************************
  Show text styles for button choices.
********************************************************/
.text {
  margin: 1rem;
}

.text--bold {
  font-weight: bold;
}

.text--italic {
  font-style: italic;
}

.text--underlined {
  text-decoration: underline;
}